SoapWebService.asmx/Web References/SoapWebRef/SoapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PasswordAuth">
        <s:complexType />
      </s:element>
      <s:element name="PasswordAuthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PasswordAuthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PasswordAuthSoapIn">
    <wsdl:part name="parameters" element="tns:PasswordAuth" />
  </wsdl:message>
  <wsdl:message name="PasswordAuthSoapOut">
    <wsdl:part name="parameters" element="tns:PasswordAuthResponse" />
  </wsdl:message>
  <wsdl:message name="PasswordAuthAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="SoapServiceSoap">
    <wsdl:operation name="PasswordAuth">
      <wsdl:input message="tns:PasswordAuthSoapIn" />
      <wsdl:output message="tns:PasswordAuthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapServiceSoap" type="tns:SoapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PasswordAuth">
      <soap:operation soapAction="http://tempuri.org/PasswordAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PasswordAuthAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoapServiceSoap12" type="tns:SoapServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PasswordAuth">
      <soap12:operation soapAction="http://tempuri.org/PasswordAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PasswordAuthAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapService">
    <wsdl:port name="SoapServiceSoap" binding="tns:SoapServiceSoap">
      <soap:address location="http://localhost:51189/SoapService.asmx" />
    </wsdl:port>
    <wsdl:port name="SoapServiceSoap12" binding="tns:SoapServiceSoap12">
      <soap12:address location="http://localhost:51189/SoapService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>